In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [27]:
df = pd.read_csv('Q5.csv', names=["Pregnancies", "Glucose", "BloodPressure", "SkinThickness", "Insulin", "BMI", "DiabetesPedigreeFunction", "Age", "Outcome"])
df = df[1:]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0
769,1,126,60,0,0,30.1,0.349,47,1
770,1,93,70,31,0,30.4,0.315,23,0

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 770 entries, 1 to 770
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               770 non-null    int64
 1   Glucose                   770 non-null    float64
 2   BloodPressure             770 non-null    float64
 3   SkinThickness             770 non-null    float64
 4   Insulin                   770 non-null    float64
 5   BMI                       770 non-null    float64
 6   DiabetesPedigreeFunction  770 non-null    float64
 7   Age                       770 non-null    int64
 8   Outcome                   770 non-null    int64
dtypes: float64(6), int64(3)
memory usage: 54.3 KB

In [30]:
df.dtypes

Pregnancies                 object
Glucose                     object
BloodPressure               object
SkinThickness               object
Insulin                     object
BMI                         object
DiabetesPedigreeFunction    object
Age                         object
Outcome                     object
dtype: object

In [32]:
df = df.apply(pd.to_numeric)

In [33]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [34]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148,72,35,0,33.6,0.627,50,1
2,1,85,66,29,0,26.6,0.351,31,0
3,8,183,64,0,0,23.3,0.672,32,1
4,1,89,66,23,94,28.1,0.167,21,0
5,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
766,5,121,72,23,112,26.2,0.245,30,0
767,1,126,60,0,0,30.1,0.349,47,1
768,1,93,70,31,0,30.4,0.315,23,0
769,1,126,60,0,0,30.1,0.349,47,1
770,1,93,70,31,0,30.4,0.315,23,0

## Data Cleaning

In [36]:
(df['BloodPressure']).isin([0]).sum()

35

In [42]:
(df['SkinThickness']).isin([0]).sum()

228

In [44]:
(df['Insulin']).isin([0]).sum()

376

In [45]:
df['BloodPressure'] = df['BloodPressure'].replace(0, df['BloodPressure'].mean())

In [46]:
df['SkinThickness'] = df['SkinThickness'].replace(0, df['SkinThickness'].mean())

In [47]:
df['Insulin'] = df['Insulin'].replace(0, df['Insulin'].mean())

In [48]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,6,148.0,72.0,35.000000,79.592208,33.6,0.627,50,1
2,1,85.0,66.0,29.000000,79.592208,26.6,0.351,31,0
3,8,183.0,64.0,20.523377,79.592208,23.3,0.672,32,1
4,1,89.0,66.0,23.000000,94.000000,28.1,0.167,21,0
5,0,137.0,40.0,35.000000,168.000000,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
766,5,121.0,72.0,23.000000,112.000000,26.2,0.245,30,0
767,1,126.0,60.0,20.523377,79.592208,30.1,0.349,47,1
768,1,93.0,70.0,31.000000,79.592208,30.4,0.315,23,0
769,1,126.0,60.0,20.523377,79.592208,30.1,0.349,47,1
770,1,93.0,70.0,31.000000,79.592208,30.4,0.315,23,0